[2018-12-21 17:16] alikoneko opened #1 "Add testing framework to react-hcaptcha"
- pick testing framework (Jest, Mocha, etc)
- add some integration and unit testing similar to what is being added to vue-hcaptcha

[2019-07-15 14:15] e271828- opened #4 "Enforce reinit on submit to prevent double-submission of passcodes"
It’s possible to preserve form state after submission (e.g. for react modals) which may lead to the hCaptcha passcode being cached in the popup->fill form->submit->popup->fill form->submit cycle.

Since passcodes are one-time-use, this will always fail the second time the form is submitted.

Right now we rely on the website to handle this scenario correctly, but safest action would be to explicitl

[2019-07-15 19:25] posix4e commented on #4
"Since passcodes are one-time-use" -> So by this what he's saying is that siteverify cannot be called twice with the same passcode. Once we provide go / we delete the old token

[2019-07-15 23:36] gaieges commented on #4
Resolved in #5 .. left it up to the user to manage and added docs

[2019-07-15 23:36] #4 closed

[2019-07-31 23:35] e271828- opened #6 "Support passing in hl to override language selection"

[2019-08-01 18:43] #6 closed

[2019-10-21 23:24] elnygren opened #10 "Files are using CRLF newlines and no EOF newline"
[code]

This is bad because:
* CRLF <-> LF changes caused by editors on Unix/MacOS machines cause 100% diffs even when changing only a single line (big problem)
* EOF newline is added by most editors and is the standard (minor nuisance)

[2019-10-22 16:22] #10 closed

[2019-10-25 21:10] brdlyptrs opened #13 "Reset Then Remove"
A `postMessage` of null error is thrown when the react-component unmounts. This is due to a timer set for expiring the response token issued when a user passes the captcha.

The `componentWillUnmount` should first call `hcaptcha.reset` in order to clear the timer and any other stored variables before removing the iframe from the dom.

![Screen Shot 2019-10-25 at 14 09 23](https://user-images.githu

[2020-01-28 05:24] #13 closed

[2020-04-09 18:30] msutkowski opened #19 "TypeScript support"
Would you be open to accepting a PR to turn this into a TS project? If not, I'll go ahead and submit the types to `DefinitelyTyped`.

Thanks!

[2020-04-09 18:56] e271828- commented on #19
Hi Matt, we're trying for maximum compatibility, and not everyone is familiar with TS yet. Probably `DefinitelyTyped` is the right approach for now.

[2020-04-09 19:25] msutkowski commented on #19
Will do, thanks!

[2020-04-09 19:25] #19 closed

[2020-04-10 00:09] msutkowski commented on #19
@e271828- Just a quick note, I've submitted types to DefinitelyTyped. Will note when they're merged in. Thanks.

[2020-04-10 02:24] e271828- commented on #19
Thanks!

[2020-04-10 16:59] msutkowski commented on #19
Merged. `yarn add -D @types/hcaptcha__react-hcaptcha` .

[2020-04-11 17:18] kataras opened #22 "Hello, I've just created a hCaptcha Go middleware"
Hello contributors, @alikoneko, @brdlyptrs

I know this may not be the right place to ask but I couldn't find other repository to do it.

I've just pushed the <https://github.com/kataras/hcaptcha> repository which is the first hCaptcha web server's middleware for [Go](https://golang) developers. My question is, do you have a place/page that developers can find their hCaptcha clients depending on t

[2020-04-12 17:20] JacobWennebro commented on #19
I have installed your types and I'm still having this issue in my next.js typescript project, any ideas how to fix this?

[Screenshot](https://i.imgur.com/fySNj4E.jpg)

[2020-04-12 18:05] msutkowski commented on #19
Did you import the component?

[2020-04-12 18:07] unlimitedcoder2 commented on #19
It is imported with ```ts
import hCaptcha from '@hcaptcha/react-hcaptcha';
[code]

[2020-04-12 18:19] msutkowski commented on #19
Please try:

[code]

[2020-04-12 18:26] unlimitedcoder2 commented on #19
That worked, thanks [Screenshot](https://sharethe.minecraftdoublesmoothstoneslab.website/i/ohsg.png). Is there no way to have it as another name?

[2020-04-12 18:40] msutkowski commented on #19
@unlimitedcoder2 You could make a util that imports the class, then exports it as a default, and then you could rename it however you want.

Kinda wonky, but DefinitelyTyped forced me to use `export = HCaptcha` to match how the transpiled module works.

Example:

[code]

Then:
[code]

[2020-04-13 04:59] e271828- commented on #19
@msutkowski docs PR gratefully accepted for this. Closed issue is probably not the most discoverable place for the info to live :)

[2020-04-13 18:42] msutkowski commented on #19
@e271828- PR opened. Let me know if you need anything else. If that latest version could be released so `resetCaptcha` works, that'd be great :)

[2020-04-15 05:37] e271828- commented on #22
Hi Gerasimos, looks good! We will put up a new repo in the hCaptcha org to track this shortly, as there are getting to be too many integrations for us to keep up to date by ourselves.

[2020-04-15 05:38] e271828- commented on #19
@msutkowski Great, thank you. We're planning to ship the new version this week.

[2020-04-16 01:47] e271828- commented on #22
We're putting this into https://github.com/hCaptcha/hcaptcha-integrations-list now. Thanks!

[2020-04-16 01:47] #22 closed

[2020-04-17 03:56] christianbalderrama opened #24 "Cannot adjust width of iframe [button]"
As declared in the docs the `sizes` available are `["normal", "compact", "invisible"]` but nothing is mentioned about styling the component e.g adjusting the size of the captcha.

The scenario that I am into is that I want to fill 100% width of a specific container but limited to adjusting the sizes.

I have tried overriding the `anchor-content` class `width` but it is being cut because the `ifram

[2020-04-17 15:10] KrallXZ opened #25 "ReferenceError: performance is not defined"
It happens on SSR.
Node.js version: v12.16.1

[2020-04-18 06:14] e271828- commented on #25
@KrallXZ try adding:
`const { performance } = require('perf_hooks');`

for SSR. PRs welcome to add this to the README :)

[2020-04-18 06:16] e271828- commented on #24
@christianbalderrama the iframe is a modal, and will vary greatly in dimensions depending on the particular challenge being served. Resizing it through an override is likely to break.

[2020-04-18 20:06] kataras commented on #22
Hello @e271828- , that's great news! I will make sure that kataras/hcaptcha will always be up-to-date.

[2020-04-20 01:06] christianbalderrama commented on #24
The modal pop up with the challenge was not the problem but the iframe itself when it is first being rendered

[2020-04-21 04:24] helloitsm3 commented on #25
I'm using NextJS. Where do I insert this code?

[2020-04-22 23:05] brdlyptrs commented on #25
Closing this as it should be fixed in the following PR https://github.com/hCaptcha/react-hcaptcha/pull/26. Make sure to use the latest version: `0.1.8`.

[2020-04-22 23:05] #25 closed

[2020-04-23 02:58] helloitsm3 opened #28 "It's throwing prop id did not match error"
![image](https://user-images.githubusercontent.com/13825491/80054292-67e30d80-8551-11ea-914f-776df7717619.png)

[2020-04-23 03:52] brdlyptrs commented on #28
Hi @helloitsm3, this looks like an error caused when using Server Side Rendering. Since you can have multiple captchas per application, the component dynamically generates a unique id for each one. The hCaptcha API uses the id to render the captcha to the correct element. One solution might be the ability to pass in your own **unique** id as a prop in order to prevent the `did not match` error sho

[2020-04-23 10:37] helloitsm3 commented on #28
I'm currently using NextJS which uses SSR by default. How do I ensure the server and client ID are in sync? There is also no ID prop for me to use my own unique ID

[2020-04-23 14:42] msutkowski commented on #28
I tested this on a Next page using the default recommendation of SSG without issue. Can you drop a shortened version of your page and it's data fetching method? Also, which version of Next? I'd be happy to help see if there is a quick solution.

[2020-04-23 15:17] helloitsm3 commented on #28
I'm using the latest NextJS version which is version 9.3.5.

`
import * as React from "react";
import axios from "axios";
import HCaptcha from "@hcaptcha/react-hcaptcha";

export class Form extends React.Component<{}, IState> {
  constructor(props: {}) {
    super(props);

    this.state = {
      name: "",
    };
  }

  handleChange(event: any) {
    this.setState({ name: event.target.value });

[2020-04-24 10:32] vKongv opened #29 "Cannot read property 'postMessage' of null"
Hi,

First of all thanks for making this awesome product! I am trying to implement hCaptcha in my side by apparently I can't get it working after I submit the form, it throw me this error `Cannot read property 'postMessage' of null` and crashed the page.

![image (10)](https://user-images.githubusercontent.com/8760567/80203470-cabfcc00-8659-11ea-9e1f-a05252c9f63f.png)

Any idea why this is happeni

[2020-04-25 07:53] helloitsm3 commented on #29
Are you using NextJS too?

[2020-04-25 07:54] helloitsm3 commented on #28
Hi, are you able to solve this? I added hcaptcha component in a NextJS page too but it doesn't seem to be able to show since NextJS SSR is enabled by default

[2020-04-25 10:09] vKongv commented on #29
Nope, I am using CRA.

[2020-04-25 12:25] helloitsm3 commented on #28
Issue is solved. Used ComponentDidMount to ensure it's mounted before rendering HCaptcha

[2020-04-25 12:25] #28 closed

[2020-04-25 12:26] helloitsm3 commented on #29
Do you mind posting a snippet of your code where you handle the posting of messages? I'll try to help you solve your issue

[2020-04-26 09:38] vKongv commented on #29
Sure!

We created a shared component for HCaptcha in our codebase and it is being used by one of our form component at the moment. The form package that we are using is [AntD Form](https://ant.design/components/form/)

HCaptcha.js
[code]

Form.js
[code]

We didn't implement `resetCaptcha ` as we will unmount the form after the user has submitted it.

[2020-05-04 03:25] helloitsm3 commented on #29
Hi, I'm sorry I was unable to figure out how to solve this. Did you manage to solve it on your side?

[2020-05-04 15:03] vKongv commented on #29
Nope, it is still happening for me :( and it only happen in production somehow. In my local was fine. And only on Chrome 🤷

[2020-05-05 18:29] brdlyptrs commented on #29
Hi @vKongv, you mention that you unmount the form after the user has submitted and that you are not using `resetCaptcha`. Does this error occur when the form is being unmounted? Also, what event triggers the form to be unmounted, onVerify?

[2020-05-08 15:21] wellingtonsilverio opened #30 "React native"
I would like to put Hcaptcha in React native, can you create the project?

[2020-05-08 16:33] posix4e commented on #30
Why don't you start it on your github and if we like it we will.

[2020-05-10 19:22] DarylPinto opened #31 "Random widget id breaks SSR React apps (Including NextJS)"
When using a CSR/SSR hybrid react app (like with the extremely popular [NextJS](https://nextjs.org/)), the randomness of the `id` breaks the page due to mismatched renders:

```Warning: Prop `id` did not match. Server: "hcaptcha-abc" Client: "hcaptcha-xyz"```

My suggested fix is to allow the user to _optionally_ pass `id` as a prop that would take precedence over the `nanoId()` function currently

[2020-05-17 18:00] peterhanneman commented on #31
Why not prevent the component from rendering server side in the first place?

`(typeof window == 'object') && <HCaptcha />`

[2020-05-17 18:00] peterhanneman commented on #31
Why not prevent the component from rendering server side in the first place?

`(typeof window === 'object') && <HCaptcha />`

[2020-05-17 20:06] peterhanneman commented on #31
Was having the same issue with Next.js SSR and solved it by created a wrapper component then calling that from the parent with the required props.

[code]

[2020-05-17 20:10] peterhanneman commented on #31
Was having the same issue with Next.js SSR and solved it by creating a wrapper component then calling that from the parent with the required props.

[code]

[code]

[2020-05-18 01:05] brdlyptrs commented on #31
Hi @DarylPinto, this issue was brought up ealier, see [here](https://github.com/hCaptcha/react-hcaptcha/issues/28). We can add a custom prop as well to manually set the `ID`.

[2020-05-18 01:08] DarylPinto commented on #31
@brdlyptrs Yes, I think that's a good suggestion. Earlier this evening I made a PR that adds the ability to use a custom `id` prop. Please have a look here: https://github.com/hCaptcha/react-hcaptcha/pull/32

[2020-05-18 01:23] brdlyptrs commented on #31
Sorry, I did not see that PR initially. I ended up making this [PR](https://github.com/hCaptcha/react-hcaptcha/pull/33) which was originally started before the previous issue https://github.com/hCaptcha/react-hcaptcha/issues/28 was closed.

[2020-05-18 18:56] #31 closed

[2020-06-09 16:53] skh- opened #35 "Multiple hCaptcha's not rendering"
Hello, thanks for the package.  It seems when there is multiple captchas, only the last one will render.  I've tried variations of adding and `id`, `key`, etc. with no luck.

Am I missing something or is this a bug?

https://codesandbox.io/s/optimistic-pond-0ll6g?file=/src/App.js

[2020-06-16 06:49] trelljaret opened #37 "NextJs leads to An unexpected error has occurred."
![image](https://user-images.githubusercontent.com/63227135/84740598-ec3a9580-afc2-11ea-8b6d-5021ac1a0855.png)

This is what happens after:
[code]

using the starter here: https://nextjs.org/learn/basics/create-nextjs-app
using this as the `index.js`:
[code]

and package.json
[code]

Why is that? ;(

Console errors in the browser are:
[code]

Does this means that NextJs pretty sucks? Cause I have

[2020-06-16 06:59] e271828- commented on #37
Check out the discussion in https://github.com/hCaptcha/react-hcaptcha/issues/31. Other folks have gotten NextJS working, but may require setting the widget ID.

[2020-06-16 07:22] trelljaret commented on #37
Actually that is not the problem.
When I do static export also I have this problem!
Production Static Export has also this problem!

[2020-06-16 07:29] trelljaret commented on #37
@e271828-
Seems like its working now.
Using https://github.com/hCaptcha/react-hcaptcha/issues/31#issuecomment-629853512

[2020-06-16 07:30] trelljaret commented on #37
Its awful that NextJS is having these kind of problems.
I tested just now with GatsbyJS. It worked without any problems.

[2020-06-16 07:30] #37 closed

[2020-06-20 03:18] rossPatton opened #38 "Doesn't work with preact or preact/compat"
See title.

I'm trying to convert my react application to preact, which will significantly reduce my app's bundle size. In my case, it would reduce my initial vendor bundle size by 30%, a significant decrease on my largest necessary file.

Everything else works fine, except that hcaptcha doesn't render.

Unfortunately, there's no error output. I believe react/preact issues usually have to do with

[2020-06-20 16:50] e271828- commented on #35
Are you passing in the widget ID?

[2020-06-21 11:41] jembach commented on #38
I had the same problem. For me #39 has fixed it

[2020-06-22 16:38] rossPatton commented on #38
nice! that solution makes perfect sense to me

[2020-06-23 11:31] axedre commented on #29
I've pinpointed the error to occur in the `closeChallenge` method, more specifically in the `challenge-passed` switch-case, where it calls the `reset()` method on the checkbox object, which triggers the chat's `send()` method, which finally calls `e.contentWindow.postMessage` (where `e` is an Iframe). Unfortunately, though, `e.contentWindow` is `null`, hence the error.

![image](https://user-image

[2020-06-23 14:17] helloitsm3 commented on #29
Are you able to fix this on your side?

[2020-06-24 05:24] axedre commented on #29
Sadly, no, I wasn't able to tap into that method or somehow override it.
But it should be fairly straightforward for the devs to fix it.

On Tue, 23 Jun 2020, 16:17 Sean, <notifications@github.com> wrote:

[2020-06-24 10:15] helloitsm3 commented on #29
Sadly, the devs doesn't seem to be actively contributing to this repository

[2020-06-25 21:58] brdlyptrs commented on #35
This issue was should have been solved in the following PR https://github.com/hCaptcha/react-hcaptcha/pull/40

[2020-06-25 21:58] #35 closed

[2020-06-25 22:00] brdlyptrs commented on #38
This should have been resolved with the following PR https://github.com/hCaptcha/react-hcaptcha/pull/39

[2020-06-25 22:00] #38 closed

[2020-06-26 03:08] rossPatton commented on #38
great! i'll give it a shot now

[2020-06-28 14:52] CharlyJazz opened #41 "Update to react hook"
I want create a pull request with the updated version of react. Using React Hooks instead class.

[2020-06-28 15:10] e271828- commented on #41
Go for it :)

[2020-07-16 13:53] e271828- commented on #29
Hi, we are in fact tracking this and will have a solution soon. It is basically due to trying to call the API while the challenge is in the process of being removed.

[2020-07-22 01:01] brdlyptrs commented on #29
Hi everyone, we've implemented a fix for this. It should be live now, please let us know if this problem continues.

[2020-07-22 01:01] #29 closed

[2020-08-06 11:05] AndysonDK opened #47 "When trying to install your npm package it says that it doesn't exist"
![image](https://user-images.githubusercontent.com/28491857/89524839-8a89f100-d7e5-11ea-8eb2-7ded158e2352.png)

[2020-08-06 11:18] e271828- commented on #47
Just tried:

[code]

I suspect you might have an issue with your registry or shell configuration. Try putting `@hcaptcha/react-hcaptcha` in quotes, and if that doesn't work try reinstalling npm.

[2020-08-06 11:23] AndysonDK commented on #47
Okay now it works 😂 Just restarted my terminal and some other things maybe that fixed the issue

[2020-08-06 11:23] #47 closed

[2020-09-20 00:48] CharlyJazz commented on #41
Work in progress

[2020-09-30 19:02] Nick-Mazuk opened #51 "captchaRef.current.execute() results in type error (Typescript)"
So I'm following one of the examples in the Readme for programmatically invoking hcaptcha.

https://codesandbox.io/s/react-hcaptchaform-example-forked-ngxge?file=/src/Form.jsx

And while the program works, the line `captchaRef.current.execute()` results in the following type error:

[code]

Any ideas? I've installed the appropriate type files from Definitely Typed.

- React 16.13.1
- Next JS 9.5.2

[2020-10-04 18:36] soia opened #52 "Invisible hCaptcha, React.js"
The documentation says that you can watch a demo of invisible captcha using react.
Where is the demo link?
I can't find it.

I added size = "invisible"
But captcha isn't called when the form is submitted

"Please refer to the demo for examples of basic usage and an invisible hCaptcha."

[2020-10-04 19:39] e271828- commented on #51
@Nick-Mazuk looks like you might need to open a PR over on:

https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/hcaptcha__react-hcaptcha

[2020-10-04 19:51] e271828- commented on #52
I believe you'll need to call `execute()` as in
https://github.com/hCaptcha/react-hcaptcha/blob/master/examples/src/index.js

[code]

[2020-10-09 23:50] dmeagher-indeed opened #53 "Hcaptcha Widget Does not Render After Refresh"
When I refresh the react page that i'm using this hcaptcha widget on, the hcaptcha fails to rerender until I do a hard refresh (Shift-F5). I'm using typescript if that has anything to do with it.

[2020-10-10 01:06] brdlyptrs commented on #53
Hi @dmeagher-indeed, does your console display any information or errors? Also, could you provide a snippet of the code?

[2020-10-12 15:50] dmeagher-indeed commented on #53
`render() {
        const i18n = GettextFactory();
        const submit = i18n.gettext("Submit");
        return (
            <div className="Hcaptcha">
                <HCaptcha
                    sitekey={this.props.siteKey}
                    onVerify={this.onVerify}
                />
                <Button
                    onClick={this.onSubmit}>
                    {submit}

[2020-10-12 18:50] e271828- commented on #53
Does this happen only during development, or also if you push to a test environment and try there?

[2020-10-12 19:02] brdlyptrs commented on #53
One thought, if its only in development, there may be an issue with compiling typescript and hot module updating. You could try commenting out this [line](https://github.com/hCaptcha/react-hcaptcha/blob/master/src/index.js#L109) in either the `src/index.js` or `dist/index.js`, depending on which one you are currently using for your application.

[2020-10-12 20:40] dmeagher-indeed commented on #53
This happens in both local development and when we push to a test environment.

[2020-10-12 22:10] e271828- commented on #53
Sounds like something in your app is holding onto state. You could try, as a quick test, adding `renderCaptcha()` to your form/page init on the ref to see if that changes things.

Basic sketch of using refs: https://codesandbox.io/s/react-hcaptchaform-example-invisible-f7ekt

[2020-10-12 23:20] brdlyptrs commented on #53
Using a button in a form element can cause the form to re-render if you do not use `event.preventDefault` in the `onSubmit` callback. See issue https://github.com/react-bootstrap/react-bootstrap/issues/1510

I created another example [here](https://codesandbox.io/s/react-hcaptchasimple-form-9sv3t), that uses the native form `onSubmit` callback with `event.preventDefault`.

If you have any other in

[2020-10-14 16:04] dmeagher-indeed commented on #53
Using the ref to explicitly render the widget seems to have worked. Thanks for your help.

[2020-10-14 16:04] #53 closed

[2020-10-22 03:01] DevSamuelV opened #54 "render null next.js"
Im Using Next.js version 9.5.5

when using hCaptcha in the console it prints [hCaptcha] render: invalid container 'null' im not sure what the cause might be?

[2020-10-22 18:12] #54 closed

[2020-10-22 18:12] DevSamuelV commented on #54
fixed the issue It was the env system not delivering the env

[2020-11-15 23:18] Nick-Mazuk commented on #51
This seems to be resolved now. Use `HCatpcha` as the type for the ref. Full code:

[code]

[2020-11-15 23:18] #51 closed

[2020-11-15 23:59] Nick-Mazuk opened #55 "Feature request - async/await for submitting invisible captchas"
It would be great to trigger invisible captchas in a way that returns a promise. It would then make the JS for submitting forms much easier.

This is how you currently need to use invisible captchas:

[code]

It can be simplified to this with async/await:

[code]

It will make the flow of logic much simpler.

[2020-11-17 11:31] gustavoferreirads commented on #30
@wellingtonsilverio Did you manage to integrate it with React Native

[2020-12-15 00:54] mediabeastnz commented on #55
+1

[2020-12-15 07:33] e271828- commented on #55
PRs welcome :) Wrapping the callbacks into promises would be fairly straightforward, I think.

[2020-12-16 13:56] amhoba commented on #31
For those who using function component with hooks, you can use this wrapper instead:

[code]

Also if you want to reset the component on form failure, I thought that its best to feed the `hcaptchaToken` to the component itself so the component will reset automatically. You just have to `setHcaptchaToken("")` when the form fails.

[code]

[2020-12-16 16:19] e271828- commented on #31
@amhoba would you like to PR this for the docs so it doesn't get lost?

[2020-12-20 08:13] supermooshman commented on #54
Hi @DevSamuelV any chance you have some more details on how you fixed it?

thx in advance!

[2020-12-20 11:38] DevSamuelV commented on #54
@supermooshman I had to have hcaptcha wait for the environment variables to load

[2021-01-05 10:42] liuboaibc opened #61 "there is an error when update props.(Only one captcha is permitted per parent container)"
the error appeared when i changed the props (like `theme`)

[2021-01-09 08:35] abdulsamad opened #63 "[hCaptcha] render: invalid container 'null'."
hCaptcha is not a rendering giving an error "[hCaptcha] render: invalid container 'null'".

Browser - Chrome (v87.0.4280.141)
Technologies -
Gatsby
Styled-components

[code]

it only works after wrapping it in a form tag without any sibling. The nesting of the form tag is also not valid I guess.

[code]

[2021-01-12 14:41] DSergiu opened #64 "Add CI/CD and tests"
- [X] CI pipeline (github actions)
- [X] CD pipeline (github actions)
- [ ] unit tests (jest)

[2021-01-19 07:36] #64 closed

[2021-01-30 16:18] mfcochauxlaberge opened #68 ""Rate limited or network error. Please try again." after upgrading from 0.2.2 to 0.3.0"
I upgraded the library from 0.2.2 and 0.3.0 and I now get the following error message:

![image](https://user-images.githubusercontent.com/534861/106361544-8817d800-62ec-11eb-91a4-d938e711ad12.png)

I tried to look at this GitHub for documentation on a potential breaking change, but I couldn't find anything. The only tags are 0.3.0-alpha and 0.3.0. Where are the other tags?

I also get the followi

[2021-01-30 16:22] e271828- commented on #68
@mfcochauxlaberge The issue is you are attempting to use `localhost`; see https://docs.hcaptcha.com/#local-development

[2021-01-30 16:22] #68 closed

[2021-01-30 16:31] mfcochauxlaberge commented on #68
@e271828- Oh wow, I did have a host entry in `/etc/hosts` to solve that issue that I've used for maybe a year now, but for some reason, this morning, I typed `localhost` instead and didn't realize it... -_-

Thanks, all good now!

[2021-01-31 16:31] Johann-S commented on #63
I have the same error but only when I pass query params in my URL and with Gatsby too

[2021-02-01 14:02] DSergiu commented on #63
I am not able to reproduce this issue. Please share a more detailed scenario and the versions of `hcaptcha`, `gatsby` etc. @abdulsamad

The error `"[hCaptcha] render: invalid container 'null'".` happens probably because of some sort of gatsby encapsulation of the `hcaptcha` dom element and `document.findElementById` cannot find it.

[2021-02-01 14:20] Johann-S commented on #63
I have this error with Gatsby v2.30.3 and hcaptcha/react-hcaptcha 0.3.0

[2021-02-01 18:14] DSergiu commented on #52
Closing this as issue seems to be solved.

[2021-02-01 18:14] #52 closed

[2021-02-01 18:17] DSergiu commented on #1
Duplicate of https://github.com/hCaptcha/react-hcaptcha/issues/64

[2021-02-01 18:17] #1 closed

[2021-02-01 19:21] abdulsamad commented on #63
chorme - 88.0.4324.96
gatsby - 2.26.1
styled-components - 1.12.0
@hcaptcha/react-hcaptcha - 0.2.2
react & react-dom - 16.12.0
yarn (v1.22.10)

[2021-02-02 13:13] DSergiu commented on #63
Please try version `0.3.2` and let me know if it solves your issue.

`npm install -S @hcaptcha/react-hcaptcha@0.3.2`

@abdulsamad @Johann-S

[2021-02-02 13:14] DSergiu commented on #61
Deployed with version `0.3.2`.
Ty for the PR.

[2021-02-02 13:14] #61 closed

[2021-02-02 13:42] abdulsamad commented on #63
It's working in @hcaptcha/react-hcaptcha@0.3.2
Thank you so much @DSergiu

[2021-02-02 13:55] Johann-S commented on #63
it's working thanks @DSergiu 👍

[2021-02-02 14:55] DSergiu commented on #63
Super. I will close this as it seems to be resolved.

[2021-02-02 14:55] #63 closed

[2021-02-16 17:16] e271828- opened #71 "Allow user to override JSAPI URI"
i.e.

https://github.com/hCaptcha/react-hcaptcha/blob/796babebaf7cc592467456483767a1dea8f456f9/src/index.js#L19

should be:

`script.src = "${JSAPI_URI}?render=explicit&onload=hcaptchaOnLoad";`

[2021-02-16 17:28] brdlyptrs commented on #71
We can add a property `apihost` in order to handle this use case.

[2021-02-16 19:22] tttp commented on #71
I was going to add that issue but you were faster ;)

[2021-02-17 00:25] e271828- commented on #71
Sure, though remember we'll also need to deal with the other first-party params here, unless the user can set a bare string.

[2021-02-18 20:24] #71 closed

[2021-03-08 17:05] TylerDixon opened #75 "Creating a 2nd Captcha before the API scripts loads causes 2nd script to load"
This is best explained by an example:

1. User is on Page A which has a Captcha A
2. Captcha A mounts, [putting an API script tag on the page](https://github.com/hCaptcha/react-hcaptcha/blob/master/src/index.js#L72).
3. User Navigates to Page B which has a Captcha B
4. Captcha B [resets the `captchaScriptCreated` flag](https://github.com/hCaptcha/react-hcaptcha/blob/master/src/index.js#L48-L51), t

[2021-03-11 09:53] #75 closed

[2021-03-18 01:13] brdlyptrs opened #80 "CI: Pull Requests from forked repos do not trigger"
It seems the current setup for github actions will not be triggered when pull requests are opened from forked repositories. It looks like we need to add `pull_request_target` with types `[ opened ] ` for these to be triggered, see [github action docs](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request_target).

See Issue https://github.com/WordPress/gutenberg/i

[2021-03-18 02:06] #80 closed

[2021-03-27 21:35] filipealonso opened #82 "Language doesn't change"
If someone enters a website and a default language is used to load and render the widget, if the visitor then selects another language the widget is re-rendered with a new `languageOverride` attribute but since the script was already requested in the default language before it won't load the new one and will still be displayed in a language the user doesn't understand.

The widget should be sensit

[2021-03-28 15:58] e271828- commented on #82
I think this would need a new JSAPI hook to programmatically change the language of an existing widget. The user is able to do that via the UI already, but it's not exposed.

The simplest thing without that would be to recreate the React component in this case, causing a reload of api.js with your new hl parameter.

[2021-03-29 07:19] filipealonso commented on #82
Yes, otherwise `languageOverride` doesn't make much sense as a parameter, other than to initialize the widget. In this regard, a new logic needs to be implemented.

[2021-06-05 16:39] KevinDanikowski commented on #82
Out of curiosity, what is the use case that the user would change the browser language? @filipealonso , I have a multiple lingual site, but I don't imagine the users would change the language after the page has loaded

[2021-06-05 16:46] filipealonso commented on #82
Simple @KevinDanikowski : anytime a user lands directly on that page as a first entry point and changes language for the first time there and then. That's when users usually change language... on their first entry page.

[2021-06-11 22:28] brdlyptrs commented on #24
Hi @christianbalderrama the iframe is set to a specific size on purpose. Adjusting the size manually could cause text to be cut off or prevent the user from interacting with the elements on the checkbox as intended.

[2021-06-11 22:28] #24 closed

[2021-07-13 09:46] agat opened #90 "TSC error TS2515"
I have this error after TS checking:

[code]

[2021-07-13 10:44] e271828- commented on #82
Closing as there is now a user-visible UI element to select their preferred language, which re-renders everything. `hl` is intended to override at initialization time only.

[2021-07-13 10:44] #82 closed

[2021-07-13 10:46] e271828- commented on #30
This exists at https://github.com/hCaptcha/react-native-hcaptcha

[2021-07-13 10:46] #30 closed

[2021-07-13 10:47] #41 closed

[2021-08-11 14:48] KingStudBoi opened #92 "Captcha"

[2021-08-11 16:16] #92 closed

[2021-09-01 13:15] alphonso06 opened #96 "HCaptcha Causes Too Many Re-renders Crash"
## Details
I have a page that fetches data from some API. For some reason, this page works absolutely fine, complete with its form fields, without HCaptcha. But whenever I put it in, React says it's causing too many re-renders.

The flow is simple, I use a `useEffect()` hook to fetch the data, and once I get that, render the page - by that I mean I set the loading state to false from its initial v

[2021-09-02 02:43] e271828- commented on #96
That's a new one, not obvious what could cause that. Please post a minimal repro when you've got it.

[2021-09-02 04:28] alphonso06 commented on #96
## Sandbox
**[Right here](https://codesandbox.io/s/hcaptcha-renders-p5yp5?file=/src/App.js)**

## Some Info
I think I figured out what was causing the re-renders crash, it's because I was calling the hook to change the `token` state directly at `onExpire` instead of providing a function that changes the state.

#### This works
[code]

#### This causes too many re-render crash
[code]

What's weird

[2021-09-02 04:28] #96 closed

[2021-10-12 02:32] dburles opened #99 "Publish 1.0.0"
The package has been published for ~3 years on major version 0, which means minor and patch releases are also treated as breaking changes and won't be automatically updated via `npm update` or `install`.

[2021-10-20 07:24] nicoleIOB commented on #55
Any updates with this?

[2021-10-20 22:58] ajmnz commented on #55
@brdlyptrs This can be closed as per #91

[2021-11-05 00:13] e271828- commented on #99
Targeting next week for this.

[2021-11-18 16:11] novacrazy opened #103 "Typescript types are missing `eKey` parameter for `onVerify`"
As the title says, Typescript type definitions are missing the `eKey` parameter for `onVerify`

[2021-12-28 21:29] Rexogamer commented on #99
Any news on this? Probably releasable at this point :)

[2021-12-28 22:23] e271828- commented on #99
@Rexogamer  Yep, just released :)

[2021-12-28 22:23] #99 closed

[2022-01-20 20:29] brdlyptrs opened #111 "Add missing callbacks"
We want to add the missing callbacks to the React wrapper, see [documentation](https://docs.hcaptcha.com/configuration).
- open-callback
- close-callback
- chalexpired-callback

Expected Example:
[code]

[2022-01-22 16:59] hyfydistro opened #113 "Cropped Out Captcha display - Possible to Style HCaptcha? Is it incompatibility in native mobile screen?"
I'm using react-hcaptcha with the Ionic Framework, so I would like to see for cross platforms (native and web). I'm checking with Chrome developer tool and checking via responsive screen size. It looks fine of the web (resizing the client too), but when I choose a device (iPhone XR) it gets cut. Note, I refresh the page after I select the device in order to get that device emulator setup. This is

[2022-01-23 03:00] hyfydistro commented on #113
I should add the following dependencies I'm using:
[code]

[2022-01-26 12:06] #111 closed

[2022-03-01 07:39] #103 closed

[2022-03-01 21:21] developdeez opened #119 "hcaptcha shows out of screen on mobile"
Not sure how to resolve this but I added it to mobile and can't see the captcha
<img width="195" alt="image" src="https://user-images.githubusercontent.com/13059525/156250870-cb289572-0bf9-4c96-b8d5-102c19b71779.png">

[2022-03-03 20:24] brdlyptrs commented on #119
Hi @developdeez can you provide a way to reproduce this?

[2022-03-03 20:26] brdlyptrs commented on #113
Hi @hyfydistro the checkbox is set to a specific size for both the default and compact size. This is most likely an issue with the element rendering the hCaptcha component having an overflow hidden set on it.

[2022-03-03 20:29] brdlyptrs opened #120 "Expose public methods through component"
Since certain methods on the hCaptcha API work by passing in the captcha ID, these methods should also be exposed via the react component. Where the methods will proxy to the API, passing in the components ID to each method.

#### Methods
- getResponse
- getRespKey
- setData

[2022-03-04 13:26] hyfydistro commented on #113
Thank you. It is not a problem anymore.

[2022-03-04 13:26] #113 closed

[2022-04-27 13:53] Le0Developer opened #124 "Issue with nextjs since v0.3.7"
I tried using @hcaptcha/react-hcaptcha with nextjs but the latest version that is working is 0.3.7.

Since 0.3.7 I am always getting the following error:
[code]

Reproduction repository: https://github.com/Le0Developer/hcaptcha-repro

Commands to run: `npm run dev` (dev server) or `npm run build` (build static files)

[2022-04-28 10:55] #124 closed

[2022-04-28 11:25] zoryana94 commented on #124
Hi @Le0Developer!

Thank you for pointing out this issue!
It's been fixed in our [latest release 1.3.0, please check it out for more details!](https://github.com/hCaptcha/react-hcaptcha/releases/tag/1.3.0)
I've tested it in [your repo](https://github.com/Le0Developer/hcaptcha-repro) and I cannot reproduce the bug anymore.
Please check and let me know if everything is as expected.

Please do not he

[2022-04-28 11:47] Le0Developer commented on #124
Thank you, it's working with v1.3.0!

[2022-04-28 17:46] HoloPanio opened #127 "Component completely broken when attempting to render in NextJS"
Hello,

I am using this library and we have been using it in next.js, and until today it worked fine, but now it is failing to build out right and is just dragging out a bunch of errors.  It appears to be something with the react component.

![image](https://user-images.githubusercontent.com/30759238/165815199-b3353beb-6945-437e-87ec-8cea0aa1378b.png)
<img width="500" alt="image" src="https://user

[2022-04-28 18:07] HoloPanio commented on #127
nvm, react v18 just broke the internet, no biggie.  Ignore this x

[2022-04-28 18:07] #127 closed

[2022-05-05 08:29] chenzuo commented on #90
[16:27:15] Error: TypeScript error: C:/Users/Jed/Documents/code/x/web/gulp-html-adaptive-cards/node_modules/adaptivecards-fabric/lib/components/inputs/InputChoiceSetFabric.d.ts(4,22): Error TS2515: Non-abstract class 'InputChoiceSetFabric' does not implement inherited abstract member 'isSet' from class 'ReactInputElement'.
    at formatError (C:\Users\Jed\AppData\Roaming\npm\node_modules\gulp-cli\

[2022-05-10 08:40] sadriddin opened #128 "React 18 StrictMode issue"
There is an issue with React 18 in StrictMode.  "Only one captcha is permitted per parent container. " error appears in console
Here is [sandbox](https://codesandbox.io/s/reverent-agnesi-cvmjkf)

[2022-05-15 17:29] TelegramUsername opened #129 "Only one captcha is permitted per parent container."
When I try to add hCaptcha to my form it shows `Only one captcha is permitted per parent container.`
Code:
[code]

Full Error:
[code]

[2022-05-15 17:29] TelegramUsername commented on #129
I am sure I have loaded hCaptcha Single Time

[2022-05-16 06:35] TelegramUsername commented on #129
Caused by React 18 Strict Mode (An Issue is alredy present #128 )

[2022-05-16 06:35] #129 closed

[2022-05-22 17:24] RealMarvn opened #130 "Captcha run in background."
Hi,
I wanted to ask if this library also supports a wrapper which is running in the background which checks if its valid.
Its also known under the name Invisible Captcha.
I can't find any solution.
Best Ragards

[2022-05-25 12:04] shirshak55 opened #131 "Doesn't work with typescript?"
[code]

To reproduce create a new react typescript project using vite and add Hcaptcha component. I followed typescript advice but it doesn't work.

[2022-06-04 10:43] MRmlik12 commented on #131
I have the same problem

[2022-06-04 16:28] TelegramUsername commented on #128
Hi team, can i get the expected date for closure of this issue, i am getting affected by this

[2022-06-06 11:55] zoryana94 commented on #128
Hi,

Sorry for the delay. The issue should be fixed in [our latest 1.3.1 release.](https://github.com/hCaptcha/react-hcaptcha/releases/tag/1.3.1)
Please check it from your side and let us know if everything is working as expected.

Best Regards,
IM Dev Team

[2022-06-07 09:15] tmeumann opened #137 "Test keys suddenly stopped working on localhost"
The test keys [here](https://docs.hcaptcha.com/#test-key-set-publisher-account) suddenly stopped working on localhost today across all my projects.

Please see the attached screenshots. The error text at the top of the component is new, and now if I click the checkbox the component gets stuck loading.

Has there been a regression?

<img width="314" alt="Screen Shot 2022-06-07 at 6 58 13 pm" src="h

[2022-06-07 13:00] cpouldev commented on #137
+1 I'm facing the exact same issue too

[2022-06-07 21:45] brdlyptrs commented on #137
Test keys should be working locally again, thank you for your patience!

[2022-06-07 21:45] #137 closed

[2022-06-08 10:40] tmeumann commented on #137
Can confirm it's working again. Thanks for the speedy fix!

[2022-06-09 16:49] #128 closed

[2022-06-11 17:46] jonasmarco commented on #131
Same problem here

![image](https://user-images.githubusercontent.com/19959770/173198753-9d945a02-9d87-44e6-93ce-2efebea0cd74.png)

I have installed

[2022-06-20 10:32] zoryana94 commented on #131
Hi,

We're working on the issue.
For now, I can suggest you [this workaround](https://getridbug.com/reactjs/jsx-element-class-does-not-support-attributes-because-it-does-not-have-a-props-property-ts2607/):

[code]

Please let me know if that fixes the issue you have.
I'll let you know when we come up with the better solution.

Best Regards,
IM Dev Team

[2022-06-29 17:47] zoryana94 commented on #131
Hi @shirshak55 @MRmlik12 @jonasmarco,

Thank you for notifying us regarding the issue with Vite TS projects!
The issue should be fixed in our [latest release](https://github.com/hCaptcha/react-hcaptcha/releases/tag/1.4.1).

Please check it from your side and let us know if everything is working as expected.

Best Regards,
IM Dev Team

[2022-06-30 09:48] shirshak55 commented on #131
thanks

[2022-06-30 09:48] #131 closed

[2022-07-07 12:35] natnat-mc opened #145 "Breaking change in 1.4.0 with typescript and react 17"
Recently updating our project from react-hcaptcha 1.3.1 to react-hcaptcha 1.4.3 causes typechecking of some React components to fail (especially nextjs 11.1.4's `dynamic` components), completely unrelated to the `HCaptcha` component itself.

Attempting other react-hcaptcha versions (1.3.1 works, and all 1.4.x versions fail) and then checking the dependency changes seems to narrow it down to #139 a

[2022-07-08 10:56] natnat-mc commented on #145
Hi,

Thank you for the swift response.
I have tried the new 1.4.4 release, and I can confirm that it fixes the issue and that everything now works as expected on our side.

Thanks,

[2022-07-14 11:44] vaggos-thanos opened #147 "invalid-captcha-id"
When is the time to show hCaptcha it throws an error in the console
error code : cause: "invalid-captcha-id"  message: "Invalid hCaptcha id: 0tb9cvxm5e9m"

Also, I have checked and the site key is correct can someone help?

I have React js for the frontend
![Screenshot_1](https://user-images.githubusercontent.com/56397268/178974916-4178748c-2f01-45b0-8a22-16414ee01430.png)

[2022-07-14 20:56] brdlyptrs commented on #147
Hi @vaggos-thanos can you provide a way to reproduce this issue?

This error is thrown when attempting to call a captcha that not longer exists. This usually occurs when the component is re-rendered and the parent component attempts to call the new hCaptcha component with an older ID.

[2022-07-14 21:46] vaggos-thanos commented on #147
no when literally the site loads there is no re-render no there is a new error code in the id
![Screenshot_2](https://user-images.githubusercontent.com/56397268/179091586-d3b38274-2eed-47fd-93e3-7be6f2503692.png)

[2022-07-14 22:03] vaggos-thanos commented on #147
Yea I fixed it it was a re-render sorry for the trouble

[2022-07-14 22:03] #147 closed

[2022-07-14 22:08] brdlyptrs commented on #147
All good, glad you were able to figure it out! @vaggos-thanos

[2022-07-16 00:08] brdlyptrs commented on #90
Hi @agat can you check if this is still an issues with latest version?

[2022-07-20 11:08] hb0 opened #148 "Overlapping description text on mobile view"
Version: `@hcaptcha/react-hcaptcha": "^1.1.0"`.
Client Language: German

The description text is overlapping on a mobile device (iPhone XR, probably Safari Browser):

![IMG_4833](https://user-images.githubusercontent.com/6112241/179967324-0a9244de-e425-4848-9af4-1797e06b16f2.PNG)

[2022-07-26 17:40] XAKEPEHOK opened #150 "Why HCaptchaProps was not exported?"
Hello!
I want to wrap HCaptcha component in my own wrapper, which should watch for app-level theme and language changing, and chage it for HCaptcha. Of course, i want use my wrapper as clear HCaptcha component with possibility of pass all props, that declared in HCaptchaProps, but HCaptchaProps was not exported, and i cant do that. Now, i just copy-pase all HCaptchaProps in my own props interface,

[2022-07-26 20:28] e271828- commented on #148
@hb0 thanks for the report, it looks like the automatic reflow did not happen in this instance. Not directly related to the react module, but we are reviewing and will adjust as needed.

[2022-07-26 20:28] #148 closed

[2022-07-26 21:14] XAKEPEHOK commented on #150
I discover, that it can be accessed by something like
[code]

But i think, that export of HCaptchaProps interface is much convenient

[2022-07-28 05:08] builtbylane commented on #131
Hi @zoryana94

Same issue here with latest react-hcaptcha while using `"jsx": "react-jsx"` in tsconfig

[2022-07-28 06:01] zoryana94 commented on #131
Hi @[builtbylane](https://github.com/builtbylane),

Thank you for notifying!
I've just checked and I cannot reproduce the issue you have.
What version of `vite` do you use? You may want to consider upgrading to the latest one. The Vite team has released the version 3 recently, and now it seems stable.
If it doesn't work for you, could you please describe the steps to reproduce it or send the link

[2022-08-09 09:49] davidfaber opened #151 "Bug: Page jumps when hcaptcha-image-select-dialogue shows"
I'm using react-hcaptcha with GatsbyJS. Whenever the hcaptcha opens the page jumps to top and the dialogue shows centered on the screen (not next to the button).

I simply can't figure out why.

If you need anything, please let me know.

Thanks in advance,
David

[2022-08-12 16:02] e271828- commented on #151
@davidfaber do you have an example site or minimal repro of this?

[2022-08-12 16:04] cryptoroland commented on #151
[](https://medium.com/@hCaptcha/how-hcaptcha-calculates-rewards-1195e6f18284)

[2022-08-12 16:04] cryptoroland commented on #151
[](https://medium.com/@hCaptcha/how-hcaptcha-calculates-rewards-1195e6f18284)

[2022-08-12 16:16] cryptoroland opened #152 "https://medium.com/@hCaptcha/how-hcaptcha-calculates-rewards-1195e6f18284"

[2022-08-12 16:16] cryptoroland commented on #152
[](https://medium.com/@hCaptcha/how-hcaptcha-calculates-rewards-1195e6f18284)

[2022-08-12 16:46] #152 closed

[2022-08-15 18:18] davidfaber commented on #151
Hi @e271828-,
Thanks for the quick reply.

Yes... I do have an example. If you go to https://oe44.gtsb.io/kontakt/ (PW is `oe44`, no worries it's just so Google doesn't index the staging-site).

At the bottom of the page you'll find a contact-form. Fill out all the fields including the checkbox at the end and hit send. You should then see 2 things:
- the hCaptcha
- the page scrolled to the top

Th

[2022-08-23 07:20] zoryana94 commented on #151
Hi @davidfaber,

Thank you for providing an example!
Unfortunately, I still couldn't reproduce the issue. Which platform/browser do you use?

Also, I suspect it might be the form itself that causes the issue. Please check this: https://stackoverflow.com/questions/30960537/submit-button-in-bootstrap-scrolling-to-top

Please let us know the additional details or if the issue gets fixed.

Best Regard

[2022-08-31 01:27] reinhart1010 opened #154 "Unable to integrate hCaptcha to Remix app"
I recently created a Remix app meant to be published through Cloudflare Pages. However

Which is definitely not caused by CORS:

<img width="609" alt="image" src="https://user-images.githubusercontent.com/17312341/187572104-48b29190-0478-4f0e-ae1f-f51b3cd03cdb.png">

Which might be caused by this specific error:

<img width="608" alt="image" src="https://user-images.githubusercontent.com/17312341/

[2022-08-31 07:43] reinhart1010 commented on #154
Closing as I forgot to include the `<body>` tag on the app

[2022-08-31 07:43] #154 closed

[2022-09-04 16:39] zidi687 opened #155 "5769b6684914b7de25513d0cff1dcf99466bc931"
zidi.alone.78@gmail.com

[2022-09-04 23:29] #155 closed

[2022-10-14 13:48] Reinwald1490 opened #157 "Brian.Reinwald@icloud.com"

[2022-10-30 21:25] kharithomas commented on #119
@developdeez Sorry to hijack this thread but figured since I'm facing a similar issue on mobile - why not.

@brdlyptrs I have noticed, that on mobile the captcha button is not responsive. This is also an issue w/ reCAPTCHA but we could get around it by directly changing the styles. See [this](https://github.com/google/recaptcha/issues/61) ticket on `google/recaptcha`.

I know there is a `compact`

[2022-11-02 21:24] #157 closed

[2022-11-02 21:40] brdlyptrs commented on #119
Hi @kharithomas, this is required in order to maintain readability for all 110+ supported languages. I'll add it as a proposed feature though for the team to consider.

[2022-11-14 17:54] Reinwald1490 commented on #157
- [ ] - [[brian****]()]()